.product {
    width: 100%;
    height: 1024px;
    background-color: #F7F8F8;
    margin: auto;
}

.header {
    width: 1400px;
    height: 68px; 
    display: flex;
    justify-content: right;
    margin: auto;
    margin-top: 28px;
    border-radius: 16px;
    border: 1px solid #E4E4E4;
    background-color: #FFFFFF;
    padding-right: 10px;
}

.search {
    display: flex;
    align-items: center;
}
.header .input {
    font-weight: 400;
    font-size: 16px;
    color: #00000099;
    width: 100px;
    height: 25px;
    padding-right: 10px;
    display: flex;
    line-height: 100%;
    border: none;
}

.header .iconfirst {
    color: #4ADE80;
    width: 35px;
    height: 35px;
    text-align: right;
 }

 .input::placeholder {
    font-size: 20px;
    color: #55A3F0;
 }

 .title {
    display: flex;
    justify-content: space-between;
 }

 .right {
    display: flex;
    align-items: center;
    margin-right: 310px;
    margin-top: 80px;
 }

 .button {
    background-color: #55A3F0;
    color: #FFFFFF;
    width: 132px;
    height: 45px;
    margin-top: 80px;
    margin-left: 310px;
    border-radius:  10px;
    border: 1px solid #55A3F0;
    padding: 10px;
    gap: 10px;
    font-weight: 400px;
    font-size: 16px;
 }

 .right h2  {
    font-weight: 400px;
    font-size: 30px;
    color: #55A3F0;
    font-style:normal;
    padding-right: 10px;
 }

 .right .iconsecond {
   width: 35px;
   height: 35px;
   color: #4ADE80;
 }

 .table {
    width: 1400px;
    border-radius: 30px;
    border: 1px solid #E4E4E4;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 15px;
 }

 .tableheader {
    border-radius: 30px ;
    height: 70px;
   
 }

 .tableheader th {
    width: 46px;
    height: 22px;
    margin-top: 25px;
    font-weight: 500px;
    font-size: 16px;
    color: black;
     border-bottom: 2px solid #bdbdbd;
 }

 .row {
   text-align: center;
   height: 50px;
   color: #282828;
   border-bottom: 2px solid #000000;
  
 }

 
 .productname {
    font-weight: 400px;
    font-size: 15px;
    line-height: 100%;
    color: #282828;
 } 

 .edit {
   width: 20px;
   height: 20px;
   color: #4ADE80;
   border: 1px;
 }

 .trash {
    width: 20px;
   height: 20px;
   color: #F43F5E;
   border: 1px;
 }

 